/.bundle/
/.rspec_status
/.ruby-gemset
/.ruby-version
/.rubocop-*
/.yardoc
/v2_key
/_yardoc/
/bundler.d/*
/config/database.yml
/coverage/
/db/schema.rb
/doc/
/log/
/pkg/
/spec/reports/
/tmp/
/public/doc/*.jar
/public/doc/openapi*generator.yaml
/grafana-dashboards/*.json

# Local Bonfire (Clowder deploy) settings
/config.yaml
/proxy_rules/rules.json
